<div class="contendor">
    <h3 class="my-3 text-center">Developers</h3>

<div class="subcontenedor d-flex justify-content-center">
<div class="card" style="width: 90%;">
    <img class="card-img-top"
        src="https://scontent.fbog16-2.fna.fbcdn.net/v/t39.30808-6/331115078_1416592582413926_7679079104792301506_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0debeb&_nc_ohc=C4yBZDOsoKQAX_vTZix&_nc_ht=scontent.fbog16-2.fna&oh=00_AfAsF6nr4RW99vbKefLPDuGISL8ZcljmeuH1MOF8XZo2_w&oe=641E9AF3"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-center">Celeste Barrera</h5>
        <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 3 años, cursa el grado once.
        </p>

    </div>
</div>
</div>


<div class="subcontenedor d-flex justify-content-center">
<div class="card" style="width: 90%;">
    <img class="card-img-top"
        src="https://scontent.fbog16-2.fna.fbcdn.net/v/t39.30808-6/295063544_3277608642509561_6532804686003869948_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0debeb&_nc_ohc=2vzpF8NOQ8wAX_ct5QJ&_nc_ht=scontent.fbog16-2.fna&oh=00_AfBlz3xbeL1a4It8SjuluJtoyCKkuJRPEmotgRmJE0lLjw&oe=641FBAD3"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-center">Isabella Perdomo</h5>
        <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 3 años, cursa el grado once. 
        </p>

    </div>
</div>
</div>
</div>