<div class="contendor">
    
    <div class="subcontenedor mx-3">
    <h3 class="text-center mt-3">Welcome to Csma Site</h3>
    <img class="text-center mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSezsdmMEVb1sJvpgbRYbpeh9na2BAZNy1SUQ&usqp=CAU" width="100%">
    <p style="text-align: justify;">Este periodico digital es una iniciativa con el grado undecimo de la promocion 2023, con el fin de informar a toda la comunidad mateista a través de medio digitales como el celular y navegadores web. El aplicativo está enfocado principalmente para dispositivos moviles de tamaño pequeño.</p>
    <b>Conformado por: </b>
    <code>Neyder Neme (docente), Celeste Barrera</code>

  </div>   
</div>
